<h6>home</h6>
<h3>Welcome {{name}}</h3>
{{#if boards}}
    <p>Here are your boards</p> 
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each boards}}
                <tr>
                    <td><a href="/boards/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate createdAt 'MM/DD/YYYY'}}</td>
                    <td><a href="/boards/{{_id}}/edit">Edit</a></td>
                    <td>
                        <form action="/boards/{{_id}}" method="POST" id="delete-board-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
    <p>You have not created any boards</p>
{{/if}} 
{{> _add_board_btn}}